.footer__link {
    margin: 0;
    margin-right: 18px;
    box-sizing: border-box;
    max-width: 100%;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin: 0;
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin: 0;
    }
}