.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    width: calc(100% - 96px);
    max-width: 1280px;
    box-sizing: border-box;
    margin-top: 28px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px); 
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin-top: 16px;
    }
}
