.header {
    display: flex;
    flex-direction: row;
    color: #fff;
    width: calc(100% - 96px);
    margin-top: 28px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px); 
    }
}
