.footer__link {
    margin: 0;
    margin-right: 18px;
    box-sizing: border-box;
    max-width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 760px) {
    .footer__link {
        margin: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__link:last-child {
        margin: 0;
    }
}