.cover {
    position: relative;
    max-width: 100%;
    width: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:  url('../../images/cover-trains.jpg');
    min-height: 740px;
    background-size: cover;
    margin: 92px 0 0;
    opacity: .8;
    background-position: center;
    
}

.cover__layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.cover:hover .cover__layout {
    opacity: 0.8;
}




@media screen and (max-width: 1024px) {
    .cover {
    min-height: 640px;
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        }
}
