.website__link {
    margin-top: 12px;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    box-sizing: border-box;
}

.website__link:hover {
    opacity: .8;
}