.cover__title {
  text-align: center;  
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  height: 152px;
  margin: 0;
  z-index: 2;
  

}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: 70px;
    }
}