.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 92px 0 24px;
    padding: 0 48px 0;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 88px 0 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 760px) {
    .footer {
        margin: 64px 0 24px 0;
        flex-direction: column;
        padding: 0 16px 0;
        align-items: flex-start;
    }
} 