.header__lang-link {
 font-family: inter;
 font-weight: normal;
 font-size: 24px;
 line-height: 28px;
 margin-left: 18px;
 color: #fff;
 text-decoration: none;
 transition: opacity 0.4s ease-in-out;
}

.header__lang-link:hover {
    text-decoration: underline;
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}