.place__paragraphs {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
      padding: 0 16px 0;
    }
}
